---
import Layout from "../layouts/Layout.astro";
import { CheckboxGroup, Checkbox, Button, Divider } from "@nextui-org/react";
import { HelpButton } from "../components/help-button";

const options = [
  {
    name: "Kruskal",
  },
  {
    name: "Dijkstra",
  },
];
---

<Layout>
  <div
    class="max-w-[1440px] p-6 mx-auto w-full grid lg:grid-cols-12 items-center justify-center min-h-screen place-content-center"
  >
    <div class="col-span-12 mb-4 ml-2" transition:name="header">
      <h2 class="text-5xl w-fit">Kruskal y Dijkstra</h2>
    </div>

    <canvas
      id="canvas"
      height="600"
      class="bg-[#0b0b0f] rounded-xl col-span-9 w-full h-[600px]"
      style="box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;"></canvas>
    <div
      class="bg-[#1d1e28] h-[550px] flex items-center justify-center rounded-xl flex-col gap-4 col-span-3 w-[300px] -ml-4"
      style="box-shadow: 10px 10px 30px rgb(0 0 0 / 8%)"
    >
      <div class="flex flex-col gap-2 w-full items-center justify-center">
        <HelpButton client:load isMaxFlow={false} />

        <Button id="reset-btn" color="primary">Limpiar</Button>
      </div>

      <Divider className="w-1/2" />

      <CheckboxGroup id="checkbox-group" client:visible label="Algoritmos">
        {
          options.map((option) => (
            <Checkbox
              id={`${option.name}-option`}
              value={option.name}
              client:visible
            >
              {option.name}
            </Checkbox>
          ))
        }
      </CheckboxGroup>
      <Button color="primary" client:visible id="resolve" className="w-1/2 mt-2"
        >Resolver</Button
      >
    </div>

    <div class="col-span-12 mt-4 ml-2" transition:name="fm-header">
      <a
        class="text-4xl underline underline-offset-2 cursor-pointer hover:text-red-500 w-fit transition-all duration-75 ease-linear"
        href="/flujo-maximo"
      >
        Resolver Flujo Máximo
      </a>
    </div>
  </div>

  <div
    class="w-full hidden items-center justify-center p-12 flex-col"
    id="solutions-container"
  >
    <h1 class="text-7xl font-bold mb-12">Soluciones</h1>
    <div id="solutions-div" class="flex flex-col gap-12"></div>
  </div>
</Layout>

<script>
  import { Main } from "../scripts/main";
  import { Resolver } from "../scripts/resolver";
  import { saveBackup } from "../scripts/utils";

  function init() {
    if (window.location.pathname !== "/") return;

    const main = Main.getInstance();
    main.makeRestoreBackup("pyd");
    main.setSaveBackupFn(saveBackup);
    main.startListeners(document.querySelector("#canvas"));

    const resolver = Resolver.getInstance();
    resolver.runForPrimAndDijkstra();
  }

  document.addEventListener("astro:page-load", init);
</script>
